/*!
	SVG TURKIYE HARITASI / SVG TURKEY MAP
	Web Developer: Ferdi Tarakci
	Website: www.ferditarakci.com
	Date: 2022/11/18
*/

:root {
    --gray: #f0f0f0;
    --red: #e40000;
    --orange: #ffa200;
    --black: #2c2c2c;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: var(--black);
    background-color: var(--orange);
}

a {
    color: inherit;
    text-decoration: none;
}

.turkey-map {
    &-wrapper {
        display: flex;
        width: 100vw;
        max-width: 100%;
        min-height: 100vh;
        padding: 20px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    & {
        max-width: 100%;
        margin: auto;
    }

    svg {
        display: block;
        max-width: 100%;
        height: auto;

        g[data-plate] {
            cursor: pointer;

            >path {
                transition: all .2s linear;
            }

            &:hover,
            &.active {
                >path {
                    fill: var(--gray)
                }
            }
        }
    }
}

.title {
    width: 100%;
    max-width: 700px;
    margin: 0 auto 2rem;
    padding-bottom: 1rem;
    text-align: center;
    border-bottom: 1px solid rgba(black, .1);
}

.copyright {
    width: 100%;
    max-width: 700px;
    margin: 2rem auto 0;
    padding-top: 1rem;
    text-align: center;
    border-top: 1px solid rgba(black, .1);
}